/*
    This file is currently not in use.
    contact.html is using style.css right now.
    DO NOT DELETE
*/

body {
    font-family: "Nunito";
}

h1 {
    font-size: 28px;
    font-weight: normal;
    text-transform: uppercase;
}

#banner {
    background-image: url("Images/bannerBG.png");
    background-repeat: repeat-x;
    margin: -10px;
}

#logo {
    height: 187px;
    width: 506px;
    margin-top: 40px;
}
