a {
    color: #FFFFFF;
    text-decoration: none;
}

a:hover {
    color: #DDDDFF;
}

body {
    font-family: "Nunito";
}

h1 {
    text-align: center;
    border-bottom: 4px solid #e5e8e9;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 24px;
    padding-bottom: 10px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    margin-top: 40px;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 100px;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 14px;
}

.dropdown-menu {
    color: white;
    padding: 10px;
}

.dropdown-menu:hover .dropdown-content {
    display: block;
}

#banner {
    background-image: url("Images/bannerBG.png");
    background-repeat: repeat-x;
    margin: -8px;
}

#header-menu {
    padding-left: 2.2%;
    padding-right: 2.2%;
    display: inline-block;
}

#logo {
    height: 187px;
    width: 506px;
    margin-top: 40px;
}

#main-menu {
    float: right;
}

#main-menu > li {
    font-size: 18px;
    font-weight: 500;
    height: 32px;
    line-height: 32px;
    display: inline-flex;
    text-transform: uppercase;
}

#main-menu > li > a {
    display: block;
    position: relative;
    padding: 10px;
}

#site-header {
    height: 380px;
    padding-left: 2.2%;
    padding-right: 2.2%;
}


/* Below is styling for contact.html only*/
#contact-content {
    margin: 2.5% 5% 5% 5%;
}

#contact-wrapper {
    width: 90%;
    margin: auto;
}

/*
#contact-wrapper > article > h1 {
    border-bottom: 4px solid #e5e8e9;
    font-size: 28px;
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
}
*/

h2 {
    margin-bottom: 0px;
}

.contact-person {
    padding-bottom: 15px;
}

.contact-person > p {
    margin-top: 0px;
}

/* Below is code for members.html */
td, th {
    text-align: left;
    padding: 8px;
}

th {
    text-align: center;
    padding-bottom: 25px;
    border-bottom: 3px solid #e5e8e9;
    font-size: 20px;
}

/* Below is code for about.html */
.about-section {
    margin-bottom: 20%;
}

/*
.about-section > h1 {
    text-align: center;
    border-bottom: 4px solid #e5e8e9;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 28px;
    padding-bottom: 10px;
}
*/

#about-wrapper {
    margin: 2.5% 20% 5% 20%;
}

/* Below is code for events.html */
.event-content {
    margin: 0% 15% 15% 15%;
}

